@model VantageGA.Models.Transaction

<!--@{
    ViewBag.Title = "TransactionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
    -->

<html>
<body>
    <div class="jumbotron text-center">
        <form class="form-inline">
            <div class="dropdown">
                <p>Transaction Type : <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown"></p>
                Select Transaction Type
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="dropdown">
                <p>Transaction Mode : <button class="btn btn-toolbar dropdown-toggle" type="button" data-toggle="dropdown"></p>
                Select Transaction Mode
                <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <button type="submit" class="btn btn-success">OK</button>
            <button type="submit" class="btn btn-danger">Exit</button>
        </form>
    </div>

</body>
</html>


